<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ultrapower.dao.AdcBmProcMapper" >
  <resultMap id="BaseResultMap" type="com.ultrapower.pojo.AdcBmProc" >
    <result column="PK_BM_PROC" property="pkBmProc" jdbcType="CHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="PROV_CODE" property="provCode" jdbcType="VARCHAR" />
    <result column="PROC_TYPE" property="procType" jdbcType="INTEGER" />
    <result column="PROC_NAME" property="procName" jdbcType="VARCHAR" />
    <result column="SEVERITY_LEVEL" property="severityLevel" jdbcType="INTEGER" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER" />
    <result column="PK_CREATOR" property="pkCreator" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="PK_MENDER" property="pkMender" jdbcType="CHAR" />
    <result column="MEND_TIME_LAST" property="mendTimeLast" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PK_BM_PROC, VERSION, PROV_CODE, PROC_TYPE, PROC_NAME, SEVERITY_LEVEL, IS_DELETED, 
    PK_CREATOR, CREATE_TIME, PK_MENDER, MEND_TIME_LAST
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ultrapower.pojo.AdcBmProcExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adc_bm_proc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ultrapower.pojo.AdcBmProcExample" >
    delete from adc_bm_proc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ultrapower.pojo.AdcBmProc" >
    insert into adc_bm_proc (PK_BM_PROC, VERSION, PROV_CODE, 
      PROC_TYPE, PROC_NAME, SEVERITY_LEVEL, 
      IS_DELETED, PK_CREATOR, CREATE_TIME, 
      PK_MENDER, MEND_TIME_LAST)
    values (#{pkBmProc,jdbcType=CHAR}, #{version,jdbcType=VARCHAR}, #{provCode,jdbcType=VARCHAR}, 
      #{procType,jdbcType=INTEGER}, #{procName,jdbcType=VARCHAR}, #{severityLevel,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{pkCreator,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{pkMender,jdbcType=CHAR}, #{mendTimeLast,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ultrapower.pojo.AdcBmProc" >
    insert into adc_bm_proc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkBmProc != null" >
        PK_BM_PROC,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="provCode != null" >
        PROV_CODE,
      </if>
      <if test="procType != null" >
        PROC_TYPE,
      </if>
      <if test="procName != null" >
        PROC_NAME,
      </if>
      <if test="severityLevel != null" >
        SEVERITY_LEVEL,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="pkCreator != null" >
        PK_CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="pkMender != null" >
        PK_MENDER,
      </if>
      <if test="mendTimeLast != null" >
        MEND_TIME_LAST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkBmProc != null" >
        #{pkBmProc,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="provCode != null" >
        #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="procType != null" >
        #{procType,jdbcType=INTEGER},
      </if>
      <if test="procName != null" >
        #{procName,jdbcType=VARCHAR},
      </if>
      <if test="severityLevel != null" >
        #{severityLevel,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="pkCreator != null" >
        #{pkCreator,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pkMender != null" >
        #{pkMender,jdbcType=CHAR},
      </if>
      <if test="mendTimeLast != null" >
        #{mendTimeLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ultrapower.pojo.AdcBmProcExample" resultType="java.lang.Integer" >
    select count(*) from adc_bm_proc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adc_bm_proc
    <set >
      <if test="record.pkBmProc != null" >
        PK_BM_PROC = #{record.pkBmProc,jdbcType=CHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.provCode != null" >
        PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      </if>
      <if test="record.procType != null" >
        PROC_TYPE = #{record.procType,jdbcType=INTEGER},
      </if>
      <if test="record.procName != null" >
        PROC_NAME = #{record.procName,jdbcType=VARCHAR},
      </if>
      <if test="record.severityLevel != null" >
        SEVERITY_LEVEL = #{record.severityLevel,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.pkCreator != null" >
        PK_CREATOR = #{record.pkCreator,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pkMender != null" >
        PK_MENDER = #{record.pkMender,jdbcType=CHAR},
      </if>
      <if test="record.mendTimeLast != null" >
        MEND_TIME_LAST = #{record.mendTimeLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adc_bm_proc
    set PK_BM_PROC = #{record.pkBmProc,jdbcType=CHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      PROC_TYPE = #{record.procType,jdbcType=INTEGER},
      PROC_NAME = #{record.procName,jdbcType=VARCHAR},
      SEVERITY_LEVEL = #{record.severityLevel,jdbcType=INTEGER},
      IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
      PK_CREATOR = #{record.pkCreator,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      PK_MENDER = #{record.pkMender,jdbcType=CHAR},
      MEND_TIME_LAST = #{record.mendTimeLast,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>