<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ultrapower.dao.AmAssetPatchCollectMapper" >
  <resultMap id="BaseResultMap" type="com.ultrapower.pojo.AmAssetPatchCollect" >
    <id column="PK_ASSET_PATCH_COLLECT" property="pkAssetPatchCollect" jdbcType="CHAR" />
    <result column="PK_ASSET" property="pkAsset" jdbcType="CHAR" />
    <result column="PROV_CODE" property="provCode" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="PATCH_CODE" property="patchCode" jdbcType="VARCHAR" />
    <result column="ORIGINAL" property="original" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PK_ASSET_PATCH_COLLECT, PK_ASSET, PROV_CODE, VERSION, PATCH_CODE, ORIGINAL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ultrapower.pojo.AmAssetPatchCollectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_asset_patch_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from am_asset_patch_collect
    where PK_ASSET_PATCH_COLLECT = #{pkAssetPatchCollect,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from am_asset_patch_collect
    where PK_ASSET_PATCH_COLLECT = #{pkAssetPatchCollect,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ultrapower.pojo.AmAssetPatchCollectExample" >
    delete from am_asset_patch_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ultrapower.pojo.AmAssetPatchCollect" >
    insert into am_asset_patch_collect (PK_ASSET_PATCH_COLLECT, PK_ASSET, PROV_CODE, 
      VERSION, PATCH_CODE, ORIGINAL
      )
    values (#{pkAssetPatchCollect,jdbcType=CHAR}, #{pkAsset,jdbcType=CHAR}, #{provCode,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{patchCode,jdbcType=VARCHAR}, #{original,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ultrapower.pojo.AmAssetPatchCollect" >
    insert into am_asset_patch_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkAssetPatchCollect != null" >
        PK_ASSET_PATCH_COLLECT,
      </if>
      <if test="pkAsset != null" >
        PK_ASSET,
      </if>
      <if test="provCode != null" >
        PROV_CODE,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="patchCode != null" >
        PATCH_CODE,
      </if>
      <if test="original != null" >
        ORIGINAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkAssetPatchCollect != null" >
        #{pkAssetPatchCollect,jdbcType=CHAR},
      </if>
      <if test="pkAsset != null" >
        #{pkAsset,jdbcType=CHAR},
      </if>
      <if test="provCode != null" >
        #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="patchCode != null" >
        #{patchCode,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        #{original,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ultrapower.pojo.AmAssetPatchCollectExample" resultType="java.lang.Integer" >
    select count(*) from am_asset_patch_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update am_asset_patch_collect
    <set >
      <if test="record.pkAssetPatchCollect != null" >
        PK_ASSET_PATCH_COLLECT = #{record.pkAssetPatchCollect,jdbcType=CHAR},
      </if>
      <if test="record.pkAsset != null" >
        PK_ASSET = #{record.pkAsset,jdbcType=CHAR},
      </if>
      <if test="record.provCode != null" >
        PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.patchCode != null" >
        PATCH_CODE = #{record.patchCode,jdbcType=VARCHAR},
      </if>
      <if test="record.original != null" >
        ORIGINAL = #{record.original,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update am_asset_patch_collect
    set PK_ASSET_PATCH_COLLECT = #{record.pkAssetPatchCollect,jdbcType=CHAR},
      PK_ASSET = #{record.pkAsset,jdbcType=CHAR},
      PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      PATCH_CODE = #{record.patchCode,jdbcType=VARCHAR},
      ORIGINAL = #{record.original,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ultrapower.pojo.AmAssetPatchCollect" >
    update am_asset_patch_collect
    <set >
      <if test="pkAsset != null" >
        PK_ASSET = #{pkAsset,jdbcType=CHAR},
      </if>
      <if test="provCode != null" >
        PROV_CODE = #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="patchCode != null" >
        PATCH_CODE = #{patchCode,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        ORIGINAL = #{original,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ASSET_PATCH_COLLECT = #{pkAssetPatchCollect,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ultrapower.pojo.AmAssetPatchCollect" >
    update am_asset_patch_collect
    set PK_ASSET = #{pkAsset,jdbcType=CHAR},
      PROV_CODE = #{provCode,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      PATCH_CODE = #{patchCode,jdbcType=VARCHAR},
      ORIGINAL = #{original,jdbcType=VARCHAR}
    where PK_ASSET_PATCH_COLLECT = #{pkAssetPatchCollect,jdbcType=CHAR}
  </update>
</mapper>