<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ultrapower.dao.AmUserMapper" >
  <resultMap id="BaseResultMap" type="com.ultrapower.pojo.AmUser" >
    <id column="PK_NSMP_USER" property="pkNsmpUser" jdbcType="CHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR" />
    <result column="MAILBOX" property="mailbox" jdbcType="VARCHAR" />
    <result column="PHONENUMBER" property="phonenumber" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="SMALLINT" />
    <result column="PROV_CODE" property="provCode" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MEND_TIME_LAST" property="mendTimeLast" jdbcType="TIMESTAMP" />
    <result column="COME_FROM" property="comeFrom" jdbcType="SMALLINT" />
    <result column="IDENTITY" property="identity" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PK_NSMP_USER, USER_NAME, USER_ACCOUNT, MAILBOX, PHONENUMBER, STATE, PROV_CODE, USER_PASSWORD, 
    CREATE_TIME, MEND_TIME_LAST, COME_FROM, IDENTITY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ultrapower.pojo.AmUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from am_user
    where PK_NSMP_USER = #{pkNsmpUser,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from am_user
    where PK_NSMP_USER = #{pkNsmpUser,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ultrapower.pojo.AmUserExample" >
    delete from am_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ultrapower.pojo.AmUser" >
    insert into am_user (PK_NSMP_USER, USER_NAME, USER_ACCOUNT, 
      MAILBOX, PHONENUMBER, STATE, 
      PROV_CODE, USER_PASSWORD, CREATE_TIME, 
      MEND_TIME_LAST, COME_FROM, IDENTITY
      )
    values (#{pkNsmpUser,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{mailbox,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT}, 
      #{provCode,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{mendTimeLast,jdbcType=TIMESTAMP}, #{comeFrom,jdbcType=SMALLINT}, #{identity,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ultrapower.pojo.AmUser" >
    insert into am_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkNsmpUser != null" >
        PK_NSMP_USER,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userAccount != null" >
        USER_ACCOUNT,
      </if>
      <if test="mailbox != null" >
        MAILBOX,
      </if>
      <if test="phonenumber != null" >
        PHONENUMBER,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="provCode != null" >
        PROV_CODE,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="mendTimeLast != null" >
        MEND_TIME_LAST,
      </if>
      <if test="comeFrom != null" >
        COME_FROM,
      </if>
      <if test="identity != null" >
        IDENTITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkNsmpUser != null" >
        #{pkNsmpUser,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="mailbox != null" >
        #{mailbox,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="provCode != null" >
        #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mendTimeLast != null" >
        #{mendTimeLast,jdbcType=TIMESTAMP},
      </if>
      <if test="comeFrom != null" >
        #{comeFrom,jdbcType=SMALLINT},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ultrapower.pojo.AmUserExample" resultType="java.lang.Integer" >
    select count(*) from am_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update am_user
    <set >
      <if test="record.pkNsmpUser != null" >
        PK_NSMP_USER = #{record.pkNsmpUser,jdbcType=CHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userAccount != null" >
        USER_ACCOUNT = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.mailbox != null" >
        MAILBOX = #{record.mailbox,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenumber != null" >
        PHONENUMBER = #{record.phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.provCode != null" >
        PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mendTimeLast != null" >
        MEND_TIME_LAST = #{record.mendTimeLast,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comeFrom != null" >
        COME_FROM = #{record.comeFrom,jdbcType=SMALLINT},
      </if>
      <if test="record.identity != null" >
        IDENTITY = #{record.identity,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update am_user
    set PK_NSMP_USER = #{record.pkNsmpUser,jdbcType=CHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_ACCOUNT = #{record.userAccount,jdbcType=VARCHAR},
      MAILBOX = #{record.mailbox,jdbcType=VARCHAR},
      PHONENUMBER = #{record.phonenumber,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=SMALLINT},
      PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MEND_TIME_LAST = #{record.mendTimeLast,jdbcType=TIMESTAMP},
      COME_FROM = #{record.comeFrom,jdbcType=SMALLINT},
      IDENTITY = #{record.identity,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ultrapower.pojo.AmUser" >
    update am_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="mailbox != null" >
        MAILBOX = #{mailbox,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        PHONENUMBER = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=SMALLINT},
      </if>
      <if test="provCode != null" >
        PROV_CODE = #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mendTimeLast != null" >
        MEND_TIME_LAST = #{mendTimeLast,jdbcType=TIMESTAMP},
      </if>
      <if test="comeFrom != null" >
        COME_FROM = #{comeFrom,jdbcType=SMALLINT},
      </if>
      <if test="identity != null" >
        IDENTITY = #{identity,jdbcType=SMALLINT},
      </if>
    </set>
    where PK_NSMP_USER = #{pkNsmpUser,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ultrapower.pojo.AmUser" >
    update am_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR},
      MAILBOX = #{mailbox,jdbcType=VARCHAR},
      PHONENUMBER = #{phonenumber,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=SMALLINT},
      PROV_CODE = #{provCode,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MEND_TIME_LAST = #{mendTimeLast,jdbcType=TIMESTAMP},
      COME_FROM = #{comeFrom,jdbcType=SMALLINT},
      IDENTITY = #{identity,jdbcType=SMALLINT}
    where PK_NSMP_USER = #{pkNsmpUser,jdbcType=CHAR}
  </update>
</mapper>