<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--事务管理器-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 配置事务 -->
    <!--定义每种方法在一个什么样的事务环境中-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find*"
                       propagation="NOT_SUPPORTED"
                       isolation="READ_COMMITTED"
                       read-only="true"/>
            <tx:method name="*"
                       propagation="REQUIRED"
                       isolation="READ_COMMITTED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <!--把事务控制在Service层-->
        <!--事务需要定义在哪一层？-->
        <aop:pointcut id="pc" expression="execution(* com.ultrapower.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
    </aop:config>


</beans>