<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <!-- spring连接mongodb数据库的配置 -->
    <!-- credentials权限认证：用户名:密码@数据库名 -->
    <mongo:mongo-client host="192.168.245.128" port="27017"
                        credentials="u_mydb:123456@mydb" id="mongo">
        <mongo:client-options write-concern="SAFE" />
    </mongo:mongo-client>

    <!-- mongo连接工厂 -->
    <!-- dbname:指定要连接的数据库 -->
    <mongo:db-factory id="mongoDbFactory" dbname="mydb" mongo-ref="mongo" />

    <!-- 模板工具类，简化数据库操作 -->
    <bean id="mongoTemplate"
          class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>

</beans>